* {
  margin: 0;
  padding: 0;
}

body {
  background: #292929;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.box {
  display: flex;
  align-items: center;
  height: 100vh;
  font-size: 48px;
  padding-left: 20%;
  color: white;
}

/*  奇数在右边 */
.box:nth-child(odd) {
  justify-content: flex-end;
  padding-right: 10%;
}

.text {
  font-size: 20px;
  width: 600px;
}
